PySide6==6.4.3
websocket-client==0.59.0
#sr-vulkan
#sr-vulkan-model-waifu2x
#sr-vulkan-model-realcugan
#sr-vulkan-model-realesrgan
pillow
natsort
webdavclient3
tqdm
pysmb
# pywin32==302
lxml
httpx
httpx[http2]
httpx[socks]